body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #464c56;
}

.hero{
    height: 90vh;
    background: linear-gradient(to right, rgba(39, 50, 52, 0.8) 0%, rgba(66, 83, 92, 0.8) 100%), url(../img/hero.jpg);
    background-size: cover;
}

.hero-text{
    padding-top: 150px;
    font-size: 40px;
    /* line-height: 30px; */
    color: ghostwhite;
    font-weight: 700;
}

.hero-text > p {
    font-size: 20px;
    font-weight: normal;
}

.learn-more{
    background: transparent;
    color: ghostwhite;
    border: 1px solid ghostwhite;
    width: fit-content;
    padding: 7px 17px;
    border-radius: 3px;
    margin-bottom: 200px;
    text-decoration: none;
}

.get-started{
    text-decoration: none;
    color: #8594ad;
}

.learn-more:hover{
    color: ghostwhite;
    background-color: #464c56;
}

.contact{
    margin-top: 120px;
}

.quicklinks ul > li > a{
    text-decoration: none;
    color: ghostwhite
}

.quicklinks ul > li > a:hover{
    text-decoration: underline;
}

.socials span > a {
    margin-right: 18px;
    color: ghostwhite;
}

.footer-bottom{
    background-color: #1b1e22;
}

@media only screen and (max-width: 480px) {
    .hero-text{
        padding: 50px 0;
        font-size: 20px;
    }

    .service{
        margin-bottom: 15px;
    }

    .contact-details{
        text-align: center;
        margin-bottom: 40px;
    }

    .contact-item{
        margin-bottom: 20px;
    }

    .socials{
        margin-top: 100px;
    }
}